<%- include('includes/nav') %>
  <%- include('includes/head') %>

    <div class="container">
      <div class="row">
        <div class="col-lg-2"></div>

        <div class="col-lg-8 my-3">
          <h1 class="text-center">Agenda</h1>
          <p class="text-center lead">Seus contatos estão abaixo</p>


          <%- include('includes/messages') %>

            <% if(contacts.length==0) { %>
              <p class="text-center">Não há nenhum contato registrado</p>
              <% } %>

                <div class="responsive-table">
                  <table class="table my-3">
                    <% for (let contact of contacts) { %>
                      <tr>
                        <td>
                          <%= contact.nome %>
                        </td>
                        <td>
                          <%= contact.sobrenome %>
                        </td>
                        <td>
                          <%= contact.telefone %>
                        </td>
                        <td>
                          <%= contact.email %>
                        </td>
                        <td>
                          <a href="/contact/index/<%= contact._id %>">Editar</a>
                        </td>
                        <td>
                          <a class="text-danger" href="/contact/delete/<%= contact._id %>">Excluir</a>
                        </td>
                      </tr>
                      <% } %>
                  </table>
                </div>
        </div>

        <div class="col-lg-2"></div>
      </div>
    </div>

    <%- include('includes/footer') %>